.tst{
 max-width: 50%;
 background-color: #5e6342;
 padding: 20pt;
 border-radius: 20pt;
 margin: 50pt;
 background-size: 100pt;
}
body{
  color: #daa066;
  background-image: url("noise.png");
  background-color: #293121;
  background-size: 50pt;
}
.tst:hover{
  animation-name: tst;
  animation-duration: 10s;
  }
  @keyframes tst {
    0%{
      background-position: 1pt 1pt;
      background-image: url("noise.png");
      padding: 20pt;
      margin: 50pt;
    }
    50%{
      padding: 60pt;
      margin: 10pt;
    }
    100%{
      background-position: 100pt 100pt;
      padding: 20pt;
      margin: 50pt;
    }
  }
  #sliderValue {
      margin-left: 10px;
}

.loader {
  width: 30pt;
  height: 30pt;
  border: 10pt solid #b8b8b8;
  border-top-color: #6e0969;
  border-radius: 50%;
  animation: spin 500ms linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.image {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blurredImage {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
