#all{
  background-color: #3D4266;
  min-height: 10pt;
  padding: 20pt;
  flex-wrap: wrap;
  display: flex;
}
.oneshelv{
  padding: 1%;
  margin: 10pt;
  max-width: 80%;
  width: 250pt;
  background-color: #8D91C7;
  aspect-ratio: 9/8;
  flex-wrap: wrap;
  display: flex;
}
.book{
  flex: 1 0 15%;
  height: 40%;
  margin: 1%;
  background-color: green;
}
.newbook{
  background-color: blue;
}
.newbook:hover{
  background-color: red;
}
.newshelv{
  background-color: unset;
}
.newshelv:hover{
  background-color: blue;
}
.wood-border {
   border-image: repeating-linear-gradient(40deg, hsl(30, 50%, 15%), hsl(20, 50%, 30%), hsl(25, 40%, 20%) 8px) 60;
}
